

{% extends "layout.html" %}

{% block content %}
<section class="row justify-content-center my-3">
    <div class="col-md-5">
        <div>
            <img class="detail-event-img" src="{{tEvent.coverImg}}" alt="tEvent.name">
        </div>
    </div>
    <div class="col-md-5">
        <div class="">
            <div class="d-flex justify-content-between">
                <div class="">
                    {% if tEvent.isCanceled %}
                    <h1 class="text-danger">CANCELED</h1>
                    {% endif %}
                    {% if tEvent.capacity < 1 and not tEvent.isCanceled %}
                    <h1 class="text-danger">At Capacity
                    </h1>
                    {% endif %}
                    <h3>{{ tEvent.name }}</h3>
                    <h5>{{ tEvent.type }}</h5>
                    <h6>{{ tEvent.location }}</h6>
                    <h6>Starts at: {{ tEvent.startDate }} {{ tEvent.startTime }}</h6>
                </div>
                <div class="text-end m-2">
                    {% if user == tEvent.creator and not tEvent.isCanceled %}
                    <a href="{% url 'tEvents:cancel' id=tEvent.id %}"
                    class="btn btn-danger" title="Cancel Event">Cancel</a>
                    {% endif %}
                </div>
            </div>
            <div>
                <p>{{ tEvent.description }}</p>
            </div>
            <div class="d-flex align-items-center justify-content-around">
                {% if not tEvent.isCanceled %}
                <h6 class="m-0">Capacity: {{ tEvent.capacity }}</h6>
                {% endif %}
                {% if user.is_authenticated and tEvent.capacity > 0 and not isAttending and not tEvent.isCanceled %}
                <a href="{% url 'tEvents:attend' id=tEvent.id %}" class="btn btn-outline-light">Attend</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-10 rounded">
        <h1>Attendees:</h1>
        {% if attendees and not tEvent.isCanceled %}
        <div class="border rounded p-2">
            <h5>
                {% for a in attendees %}
                {{a.user}}, 
                {% endfor %}
            </h5>
            {% endif %}
        </div>
    </div>
</section>

<section class="row justify-content-center">
    <div class="col-md-8 my-4 p-3 bg-light text-dark rounded">
        <form action="{% url 'tEvents:comment' id=tEvent.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <div class="text-end my-3">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>




{% endblock  %}