{% extends "layout.html" %}


{% block content %}
<div class="about text-center">
    {% if user.is_authenticated %}
    <h1 class="">Welcome {{ user}}</h1>
    {% else %}
    <h1>Welcome</h1>
    {% endif %}
</div>
<section class="row justify-content-center">
    {% if user.is_authenticated %}
        <div class="col-10 text-end my-4">
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" aria-label="User Logout" title="User Logout">Logout</button>
            </form>
        </div>
    {% else %}
    <div class="col-10 text-center my-4">
        <a href="{% url 'users:login' %}">
            <span class="btn btn-success m-2" aria-label="User Login" title="User Login">Login</span>
        </a>
        <a href="{% url 'users:register' %}">
            <span class="btn btn-success m-3" aria-label="User Registration" title="User Registration">Sign Up</span>
        </a>
    </div>
    {% endif %}
</section>
<section class="row justify-content-center">
    {% for t in tickets %}
    <div class="col-md-7 d-flex justify-content-between m-4 rounded bg-blue p-2">
        <!-- events I have tickets to -->
        <div class="d-flex">
            <div>
                <img class="ticket rounded" src="{{t.tEvent.coverImg}}" alt="{{t.tEvent.name}}">
            </div>
            <div class="mx-3">
                <h3>{{ t.tEvent.name }}</h3>
                <h5>{{ t.tEvent.location }}</h5>
                <h5>{{ t.tEvent.startDate }}</h5>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between">
            <a href="{% url 'users:deleteTicket' id=t.id %}" title="Cancel ticket" class="btn btn-danger">Refund</a>
            {% if t.isPremium %}
            <h5 class="bg-gold rounded p-2">Premium</h5>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock  %}