
    
{% extends "layout.html" %}
{% block content %}
<section class="row justify-content-center">
    <div class="col-6 m-1">
        <h1>User Login</h1>
    </div>
    <div class="col-6">
        <form class="form-control" action="/users/login/" method="post">
            {% csrf_token %}
            {{form}}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <button class="btn btn-light btn-outline-dark m-2">Submit</button>
        </form>
    </div>
</section>
{% endblock  %}